
.container{
    text-align: center;
    display:flex;              /* Activa el modelo Flexbox */
    flex-direction:column;       /* Dispone los botones en fila (puedes usar 'column' para columna) */
    justify-content: center;   /* Alinea los botones al centro (puedes usar 'space-between', 'space-around', etc.) */
    gap: 1rem;                 /* Espacio entre los botones */
    margin-top: 0.5rem; 

    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    max-width: 600px;
    width: 90%; 
    
}
.containerImg{
    display:flex;
    justify-content: center;
}

.titulo{
    text-align: center;
}
.buttonContainer{
    display:flex;
    justify-content: center;
}

.gameOver {
    text-align: center;
    font-size: 2rem;
}

.img{
    
   
    background-image: url('../Assets/calavera.png');
    background-size: cover;
    width:300px;
    height: 280px;

}

@media (max-width: 420px) {
    .container {
        width: 100%;
        padding: 1rem;
        gap: 0.5rem;
    }

    .img {
        width: 200px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        height: 180px;
        background-size: contain; /* Asegura que la imagen se ajuste sin cortar */
    }

    .titulo, .gameOver {
        font-size: 1.5rem; /* Reduce el tamaño de texto en pantallas pequeñas */
    }

    .buttonContainer {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (min-width: 421px) and (max-width: 768px) {
    .container {
        width: 80%;
        padding: 1.5rem;
    }

    .img {
        width: 250px;
        height: 230px;
    }

    .titulo, .gameOver {
        font-size: 1.8rem;
    }

    .buttonContainer {
        gap: 1rem;
    }
}

@media (min-width: 769px) {
    .container {
        width: 60%;
        padding: 2rem;
        margin-top: 1rem;
    }

    .img {
        width: 300px;
        height: 280px;
    }

    .titulo, .gameOver {
        font-size: 2rem;
    }

    .buttonContainer {
        justify-content: center;
        gap: 1.5rem;
    }
}